.item {
    border: 2px solid #444444;
    margin: 8px;
    border-radius: 10px;
}

.item img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.postProfile img {
    display: block;
}

.postProfile {
    display: flex;
    align-items: center;
}